/*推广首屏*/
.tgsp-bg{width:100%; height:560px;background:url(../../images/tt/banner-index.jpg) center 0 no-repeat;}
.arrow-left{position:absolute;left:10px;top:17px;display:block}
.arrow-right{position:absolute;right:10px;top:17px;display:block}
.pop-up{position:relative;display:none; z-index:9999;-moz-box-shadow: 0px 1px 6px rgba(3,3,3,0.3);-webkit-border-radius: 4px; border-radius:4px}
.swiper-container{width:920px;}
.swiper-container .swiper-wrapper .swiper-slide{width:153px; text-align:center;}
.swiper-line{position:absolute; right:66px;top:60px;}
.icon-bg{background:url(../../images/tt/icon.png) no-repeat;}
.ico-line{background-position:0 -229px; width:1px; height:30px;}
.ico-close{background-position:-1px -264px; width:11px; height:11px;}
/*错误*/
.inp-error {background: #feedec;border: 1px #cb3932 solid;color: #cb3932;}
/*登录框*/
.banner{ width:1000px; margin:0 auto; padding:330px 0 0 0}
.banner input{ border:1px #ddd solid;height:38px; line-height:38px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px; font-size:16px; width:203px; padding:0 10px}
.banner input::-webkit-input-placeholder{ color:#ccc}
.banner input:-moz-placeholder {color:#ccc;}
.banner input::-moz-placeholder {color:#ccc;}
.banner input:-ms-input-placeholder {color:#ccc;}
.tiyan-btn1{ width:140px; height:51px; line-height:51px; text-align:center;background:#ff9900; color:#fff; font-size:20px;border-radius:3px;-moz-border-radius:3px;-webkit-border-radius:3px;transition:background 0.5s ease-out;-moz-transition:background 0.5s ease-out;-webkit-transition:background 0.5s ease-out;}
.tiyan-btn1:hover{background:#ff9900;}
/*第二屏*/
.two{ padding:82px 0 125px;}
.two ul{ padding:124px 0 124px}
.two li{ text-align:center}
.two li h2{ font-size:24px; font-weight:normal;color:#333; padding:14px 0 20px}
.two li p{ color:#999; font-size:16px}
/*导航*/
.menu{ padding:15px 20px 17px; width:100px;}
.menu ul{ padding:0 12px}
.menu li{font-size:30px; line-height:30px}
.menu li a{ color:#32b3e9; font-size:18px;}
.menu h3{ color:#2fb2e8; text-align:center; font-size:20px; border-bottom:1px #2fb2e8 solid; padding-bottom:14px;}
.menu .arrow{ width:7px; height:15px;background:url(../../images/tt/arrow1.jpg) no-repeat; position:absolute;top:70px;right:0}
/*第三块*/
.three{ background:#36b6ea}
.heading{ margin:70px 0 0 100px; width:746px; color:#fff}
.heading img{ margin:0 30px 0 0; float:left}
.heading h3{ font-size:38px; font-weight:normal}
.heading p{ font-size:18px}
/*第四块*/
.four{ background:#fff}
.four .menu{ background:#64be50}
.four .menu .arrow{ width:7px; height:15px;background:url(../../images/tt/arrow2.jpg) no-repeat; position:absolute;top:138px;right:0}
.four .menu h3{ color:#fff; border-bottom:1px #fff solid}
.four .menu a{ color:#fff}
.four .heading h3{ color:#64be50}
.four .heading p{ color:#666}
.four .step{margin:42px 0 0 114px;}
.four .step img{ float:none;margin: 0 18px; vertical-align:middle}
/*第五块*/
.fifth{ background:#e65050}
.fifth .menu{ background:#fff}
.fifth .menu .arrow{ width:7px; height:15px;background:url(../../images/tt/arrow3.jpg) no-repeat; position:absolute;top:173px;right:0}

.fifth .menu h3{ color:#e65050; border-bottom:1px #ed7a7a solid}
.fifth .menu a{ color:#e65050}
/*他们都在使用*/
.make{ margin:80px 0 70px; text-align:center; color:#666; font-size:20px;background:url(../../images/tt/line.gif) center center no-repeat;}
/*安装*/
.list{ padding:0; overflow:hidden}
.list ul{ margin-right:-110px}
.list li{ width:160px; margin:0 110px 0 0; float:left}

.swiper-pagination-switch {
  display: inline-block;
  width: 8px;
  height: 8px;
  border-radius: 10px;
  background: #999;
  margin: 0 4px;
  cursor: pointer;}
  .swiper-active-switch {background: #fff; border:1px #9c9c9c solid;
}
.pagination1 {
  position: absolute;
  left: 0;
  text-align: center;
  top:165px;
  width: 100%;
}
/*活动的轮转 */
.huodong {
  width: 100%;
  position: relative;
  height: 560px;
  background: url("../../images/tt/banner1.jpg") center center no-repeat;
}
.hdbtn{
  display: block;
  width: 284px;
  height: 74px;
  background: url("../../images/tt/cjbtn.png");
  position: absolute;
  left: 50%;
  bottom: 100px;
  margin-left: -142px;
}
.flexslider{position:relative;height:560px;overflow:hidden;}
.slides{position:relative;z-index:1;}
.slides li{height:560px;}
.flex-control-nav{position:absolute;bottom:10px;z-index:2;width:100%;text-align:center;}
.flex-control-nav li{display:inline-block;width:14px;height:14px;margin:0 5px;*display:inline;zoom:1;}
.flex-control-nav a{display:inline-block;width:12px;height:12px;line-height:40px;overflow:hidden;background:url(../../images/tt/dot.png) right 0 no-repeat;cursor:pointer;}
.flex-control-nav .flex-active{background-position:0 0;}


