/**
 * 与app.js配套样式表
 **/
.imgupload{
	position: absolute;
	height: 32px;
	width: 32px;
	display: block;
	background: url('../../images/loading.gif') no-repeat;
	top: 50%;
	left: 50%;
	margin: -16px 0 0 -16px;
}