@font-face {font-family: 'iconfont';
    src: url('iconfont.eot'); /* IE9*/
    src: url('iconfont.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
    url('../../public/css/iconfont/iconfont.woff') format('woff'), /* chrome、firefox */
    url('../../public/css/iconfont/iconfont.ttf') format('truetype'), /* chrome、firefox、opera、Safari, Android, iOS 4.2+*/
    url('iconfont.svg#iconfont') format('svg'); /* iOS 4.1- */
}
body{
    background:#fff !important;
    color: #333;
}
.detail-cont h3{
    text-align: center;
    font-size: 26px;
    line-height: 120px;
}
.detail-cont .table td, .detail-cont .table th{
    text-align:center;
    vertical-align:middle;
    font-size: 16px;
}
.detail-cont .table td.text-left{
    text-align:left;
}
.detail-cont .table .td01{
    width:20%;
    font-weight: bold;
	font-size:18px;
}
.detail-cont .table .table-img div{
    width:395px;
    text-align: left;
    margin: 0 auto;
}
.detail-cont .table .table-img img{
    width: 110px;
    margin: 5px 10px;
}

