/*相册*/
.photo-list{ padding:20px 0 20px 18px}
.photo-list li{ float:left; margin-right:14px}
.photo-list li img{ width:152px; height:114px; display:block}

.photo-list01 {width:837px; border-bottom:1px #eaeaea dashed;}
.photo-list01 ul{margin-right:-42px;zoom: 1;display: inline-block;}
.photo-list01 li{float:left; display:inline; margin:0 19px 40px 0; height:140px}
.photo-list01 .item-ft{position: relative;z-index: 1;}
.photo-list01 .bianji{ padding:2px 3px 3px 3px; margin-top:2px; border:1px #ff9900 solid;}
.photo-list01 .input-wrap{ width:144px}
.photo-list01 .input-wrap input {width:80%; line-height:15px; height:15px;background-color: #FFF;border: 0 none;outline: 0 none;vertical-align: top;cursor: text;}
.photo-list01 .num-count {position: absolute;top:0;right:0;color:#b5b5b5;}

/*相册选项卡*/
.tab-item a{ padding:0 8px; height:30px; line-height:30px; border:1px #eaeaea solid}
.tab-item a:first-child{border-radius:4px 0 0 4px;-moz-border-radius:4px 0 0 4px;-webkit-border-radius:4px 0 0 4px;}
.tab-item a:last-child{border-radius:0 4px 4px 0;-moz-border-radius:0 4px 4px 0;-webkit-border-radius:0 4px 4px 0;}

.tab-item a.cur{background:#bdc4cb; color:#fff}

/*相册大小图*/
.ban{ width:500px; height:615px; position:relative; overflow:hidden;margin:40px auto 0 auto;}
.ban2{ width:500px; height:500px; position:relative; overflow:hidden;}
.ban2 ul{ position:absolute; left:0; top:0;}
.ban2 ul li{ width:500px; height:500px; line-height:500px; text-align:center;}
.prev{ float:left; cursor:pointer;}
.num{ height:82px;overflow:hidden; width:430px; position:relative;float:left;}
.min_pic{ padding-top:10px; width:500px;}
.num ul{ position:absolute; left:0; top:0;}
.num ul li{ width:80px; height:80px; margin-right:5px; padding:1px;}
.num ul li.on{ border:1px solid red; padding:0;}
.prev_btn1{ width:16px; text-align:center; height:18px; margin-top:40px; margin-right:20px; cursor:pointer; float:left;}
.next_btn1{  width:16px; text-align:center; height:18px; margin-top:40px;cursor:pointer;float:right;}
.prev1{ position:absolute; top:220px; left:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.next1{ position:absolute; top:220px; right:20px; width:28px; height:51px;z-index:9;cursor:pointer;}
.mhc{ background:#000; width:100%;opacity:0.5;-moz-opacity:0.5;filter:alpha(Opacity=50); position:absolute; left:0; top:0; display:none;}
.pop_up{ width:500px; height:500px; padding:10px; background:#fff; position:fixed; -position:absolute; left:50%; top:50%; margin-left:-255px; margin-top:-255px; display:none; z-index:99;}
.pop_up_xx{ width:40px; height:40px; position:absolute; top:-40px; right:0; cursor:pointer;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden;}
.pop_up2{ width:500px; height:500px; position:relative; overflow:hidden; float:left;}
.pop_up2 ul{ position:absolute; left:0; top:0;}
.pop_up2 ul li{ width:500px; height:500px; float:left;}

#file-upload {
	margin-top: 10px;
}
#file-upload #file-upload-button {
	color: #fff;
	width: 98px;
	line-height: 26px;
	height: 28px;
	font-size: 14px;
	background: #ff9900;
	margin-top: 0px;
	border: 1px solid #e68b02;
	display: inline-block;
	text-align: center;
}
#file-upload #file-upload-button.disabled {
	background: #eaeaea;
	border: 1px solid #cccccc;
}
#fileupload_1 li.loading {
	display: inline-block;
	height: 32px !important;
	width: 60px;
	padding: 30px;
	text-align: center;
}
#file-upload #file-upload-button:before {
	content: '';
	background: url(../images/caozuo1.png) no-repeat;
	background-position: -111px 1px;
width: 14px;
margin-right: 3px;
vertical-align: middle;
display: inline-block;
line-height: 26px;
font-size: 14px;
text-align: center;
height: 14px;
}

.del-ico{
	height: 24px;
	width: 24px;
	display: block;
	background: url(../images/close.png) no-repeat scroll 0px 0px transparent;
	position: absolute;
	right: -10px;
	top: -10px;
	cursor: pointer;
}

